@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    background-color: #f9f9f9;
    font-size: 22px;
    position: relative;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:#FFF;
    border-radius: 18px;
    text-align: center;
    box-shadow: 1px 1px 13px rgb(0 0 0 /20%);   
}
h1{
    padding: 10px;
    background-color:salmon;
    font-size: 30px;
    border-radius: 9px;
}
p{
    color:darkslategray;
}
.control{
    margin: 18px;
}
input{
    border:none;
    outline:none;
    text-align: center;
    border-bottom: 1px solid salmon;
    height: 25px;
    margin-top: 15px;
    font-size: 25px;
}
select{
    border:none;
    outline:none;
    border-radius: 11px;
    border: 1px solid salmon;
    margin-top: 15px;
    font-size: 18px;
    padding: auto;
    width:75%;
    height: 28px;
    text-align: center;
}
#calculate{
    border-color: white;
    background-color:tomato;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 18px;
    padding: 14px;
    margin: 20px;
    transition: all .3s ease;
}
#calculate:hover{
    color: tomato;
    border-color: tomato;
    background: white;
}
.totalTip{
    background: salmon;
    border-radius: 9px;
    padding: 15px 0 20px;
    font-size: 25px;
}
#tip{
    font-size: 35px;
}

